.badge {
  display: inline-block;
  text-align: center;
  line-height: var(--icon-md);
  margin: 2px;
  border-radius: var(--border-radius);
  color: var(--color-dark);
  background-color: var(--fade-dark-sm);
  width: calc(100% / 4 - 2 * 2px);

  @media only screen and (min-width: 840px) {
    width: calc(100% / 6 - 2 * 2px);
  }

  @media only screen and (min-width: 1280px) {
    width: calc(100% / 8 - 2 * 2px);
  }

  &.is-selected {
    color: #ffffff;
    background-color: var(--color-secondary-light);
  }
}
