.nav {
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding-md);

  .block {
    width: 100%;

    @media only screen and (min-width: 600px) {
      width: 50%;
    }

    @media only screen and (min-width: 1280px) {
      width: 25%;
    }
  }

  .sc-form-button {
    margin-left: var(--padding-sm);
  }

  .cargo-search {
    ~ div {
      z-index: 9999;
    }
  }

  .autocomplete-item {
    padding: var(--padding-sm) var(--padding-md);

    &.autocomplete-highlighted {
      color: var(--color-light);
      background-color: var(--color-secondary-light);
    }
  }
}
